@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-family: plus;
    }
    body {
        background-color: #F6F7F9;
    }
    footer .elementFooter span{
        color:rgba(19, 19, 19, 0.6);
        font-size: 16px;
        font-weight: 500;
    }
    
}